name: SSO
issuer: https://sso.microspray.io
clientID: argocd
clientSecret: "argosecret</!ChangeME!\>"
# Optional set of OIDC scopes to request. If omitted, defaults to: ["openid", "profile", "email", "groups"]
requestedScopes: ["openid", "profile", "email", "groups"]
# Optional set of OIDC claims to request on the ID token.
requestedIDTokenClaims: {"groups": {"essential": true}}
