apiVersion: "acid.zalan.do/v1"
kind: OperatorConfiguration
metadata:
  name: postgresql-operator-default-configuration
configuration:
  kubernetes:
    toleration:
      enable_pod_antiaffinity: "true"
      ## kubectl taint nodes <nodeName> postgres=:NoSchedule
      # postgres: "key:postgres,operator:Exists,effect:NoSchedule"
    enable_cross_namespace_secret: true
    pod_environment_configmap: "pg-env"
    pod_environment_secret: "pg-env"
    watched_namespace: '*'
    delete_annotation_date_key: "acid.zalan.do/delete-date"
    delete_annotation_name_key: "acid.zalan.do/delete-clustername"
    additional_pod_capabilities:
      - "SYS_NICE"
    custom_pod_annotations:
      linkerd.io/inject: disabled
    enable_pod_antiaffinity: true
    secret_name_template: "{username}.{cluster}.pg.creds"
  logical_backup:
    logical_backup_provider: "s3"
    logical_backup_s3_retention_time: "1 months"
    logical_backup_s3_bucket: "pg-micros-backups"
    # logical_backup_s3_endpoint: "https://s3.microspray.io"
    logical_backup_s3_access_key_id: "AKIAXLVDVKLQWUNCZTNS"
    logical_backup_s3_secret_access_key: "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"
    logical_backup_s3_sse: ""
    logical_backup_schedule: "0 0 * * *"
  aws_or_gcp:
    log_s3_bucket: "pg-micros-backups"
    wal_s3_bucket: "pg-micros-backups"
    aws_region: "eu-west-1"
