apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: coredns
    k8s-app: kube-dns
    kubernetes.io/name: CoreDNS
  name: coredns
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: coredns
      k8s-app: kube-dns
  strategy:
    rollingUpdate:
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: coredns
        k8s-app: kube-dns
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: k8s-app
                operator: In
                values:
                - kube-dns
            topologyKey: kubernetes.io/hostname
      containers:
      - args:
        - -conf
        - /etc/coredns/Corefile
        image: coredns/coredns:1.14.1
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 60
          successThreshold: 1
          timeoutSeconds: 5
        name: coredns
        ports:
        - containerPort: 53
          name: dns
          protocol: UDP
        - containerPort: 53
          name: dns-tcp
          protocol: TCP
        - containerPort: 9153
          name: metrics
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /ready
            port: 8181
            scheme: HTTP
        resources:
          limits:
            memory: 570Mi
          requests:
            cpu: 500m
            memory: 370Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            add:
            - NET_BIND_SERVICE
            drop:
            - all
          readOnlyRootFilesystem: true
        volumeMounts:
        - mountPath: /etc/coredns
          name: config-volume
          readOnly: true
      - args:
        - -c
        - apk add --no-cache netcat-openbsd && RESPONSE=$(mktemp -d)/e2e && mkfifo
          "$RESPONSE" && _term() { echo "gracefully stopping server"; kill -15 "$SERVER";
          } && trap _term SIGTERM SIGINT && while true; do cat "$RESPONSE" | nc -Nlp
          "$PORT" | (read -r && printf "HTTP/1.1 $(if ping "$IP" -c 1 > /dev/null;
          then echo -n "200 OK"; else echo -n "500 Internal Server Error"; fi)\r\n\r\n"
          > "$RESPONSE"); done & SERVER=$! && printf "listening on port %s\n" "$PORT"
          && wait "$SERVER"
        command:
        - /bin/sh
        env:
        - name: PORT
          value: "8081"
        - name: IP
          value: 1.1.1.1
        image: alpine
        name: ready
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /ready
            port: 8081
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: 50m
            memory: 50Mi
          requests:
            cpu: 50m
            memory: 50Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            add:
            - NET_RAW
            drop:
            - all
      dnsPolicy: Default
      nodeSelector:
        kubernetes.io/os: linux
      priorityClassName: system-cluster-critical
      serviceAccountName: coredns
      tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      volumes:
      - configMap:
          items:
          - key: Corefile
            path: Corefile
          name: coredns-8bgfg7ggm2
        name: config-volume
