apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    application: postgres-operator
  name: postgres-operator
  namespace: postgres-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: postgres-operator
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: postgres-operator
    spec:
      containers:
      - env:
        - name: POSTGRES_OPERATOR_CONFIGURATION_OBJECT
          value: postgresql-operator-default-configuration
        image: ghcr.io/zalando/postgres-operator:v1.13.0
        imagePullPolicy: IfNotPresent
        name: postgres-operator
        resources:
          limits:
            cpu: 500m
            memory: 500Mi
          requests:
            cpu: 100m
            memory: 250Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
      serviceAccountName: postgres-operator
